@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

:root {
    text-align: center;
    
}

ion-content{
    --background: #fff url('../assets/img/background-app.png') no-repeat center center / cover;
    font-family: 'Lato', sans-serif;

}

ion-row{
    margin-top: 1vw;
}



.background{
    background-image: url('../assets/img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.button{
    font-size: 1.5vw;
    background-color: transparent;
    color: rgb(102, 102, 102);
    margin: 0.5vw;
}

.button > ion-icon{
    color: rgb(255, 104, 104);
}

.player-name{
    font-size: 2vw;
}

.score-player{
    color: rgb(255, 104, 104);
    font-size: 4vw;
    margin-top: 1vw;
}

.current-div-score{
    background-color: rgb(255, 104, 104);
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1.5vw;
}

.current-score{
    font-size: 3vw;
    color: white;
    margin: 0;
}